<h3>
    An error occured while processing your request.
    An email has been forwarded to the team and we are working on a fix. 
</h3>
<h1> Try the home page again</h1>
<a asp-controller="Home" asp-action="Index"> Back to home</a>